body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
}
img{
    cursor: pointer;
}
/* UPPER */
#header > #upper_header{
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 3px;
    padding-top: 3px;
  }
  /* MID */
  #header > #mid_header{
      display: flex;
      /* border: 2px solid red; */
      margin-top: 10px;
      justify-content: space-evenly;
  }
  #mid_header > input{
      /* border: 2px solid red; */
      height: 50px;
      width: 50%;
      margin: 10px 0 0 0;
  }
  #mid_header > img{
      width: 12%;
  }
  #mid_header a,i{
      margin-top: 23px;
  }
  /* BOTTOM */
  #bottom_header > p{
      display: inline;
      margin-left: 3%;
  }
  #bottom_header >p:nth-child(4){
      color: red;
  }
  #bottom_header{
      width: 90%;
      padding-left: 4%;
      /* border: 2px solid green; */
      padding-bottom: 10px;  
  }
  #line img{
      width: 95%;
      margin: auto;
      padding-left: 30px;
      padding-top: 30px;
  }
#container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px 10px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.card  img{
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}
.card{
    width: 90%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* height: 700px; */
    background-color: white;
    padding-left: 10px;
    padding-bottom: 20px;
}
.card > h3{
   color: rgb(90, 149, 90);
}
.card > p{
    line-height: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.card > h2{
    font-family:cursive;
}
.card > button{
    border: 0px;
    text-align: center;
    margin-left: 67px;
    margin-top: 10px;
    padding: 20px 20px 20px 20px;
    font-size: 14px;
    color: azure;
    background-color: black;
}
.card{
   border-radius: 15px;
}
