body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
}
img{
    cursor: pointer;
}
/* UPPER */
#header > #upper_header{
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 3px;
    padding-top: 3px;
  }
  /* MID */
  #header > #mid_header{
      display: flex;
      /* border: 2px solid red; */
      margin-top: 10px;
      justify-content: space-evenly;
  }
  #mid_header > input{
      /* border: 2px solid red; */
      height: 50px;
      width: 50%;
      margin: 10px 0 0 0;
  }
  #mid_header > img{
      width: 12%;
  }
  #mid_header a,i{
      margin-top: 23px;
  }
  /* BOTTOM */
  #bottom_header > p{
      display: inline;
      margin-left: 3%;
  }
  #bottom_header >p:nth-child(3){
      color: red;
  }
  #bottom_header{
      width: 90%;
      padding-left: 4%;
      /* border: 2px solid green; */
      padding-bottom: 10px;  
  }
  #line img{
      width: 95%;
      margin: auto;
      padding-left: 30px;
      padding-top: 30px;
  }
#container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px 10px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.card  img{
    width: 100%;
    /* height: 60%; */
    border-radius: 25px 25px 0px 0px;
}
.card{
    width: 90%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* height: 500px; */
    background-color: white;
    padding-left: 10px;
    padding-bottom: 20px;
}
.card > h3{
   color: green;
}
.card > p{
    line-height: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.card > h2{
    font-family:cursive;
}
.card > button{
    border: 0px;
    text-align: center;
    margin-left: 67px;
    margin-top: 10px;
    padding: 20px 20px 20px 20px;
    font-size: 14px;
    color: azure;
    background-color: black;
}
.card{
   border-radius: 25px;
}

/* FOTTER */
#fotter > div{
    display: flex;
    justify-content: space-between;
    line-height: 40px;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    /* background-color: rgb(58, 56, 56); */
    /* color: white; */
    padding-left: 10px;
    padding-right: 10px;
    /* border: 2px solid red; */
    font-family: Brandon Text,Arial,sans-serif;

 }
#fotter li{
    list-style: none;
}
#fotter li:hover{
  padding-left: 10px;
}


 /* LOWER FOTTER */
#lower-fotter > p{
    display: inline;
    justify-content: space-between;
    margin-left: 25px;
}
#lower-fotter{
  
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 15px;
}
#lower-fotter > p:hover{
    color: rgb(217, 53, 8);
}
#filter{
   border: 1px solid black;
   padding: 10px 10px 10px 10px;
   margin-left: 38px;
   margin-top: 20px;
  
}


  